*{
    padding: 0px;
    margin: 0px;
}
body{
    height: 100%;
    width: 100%;
}
.container{
    max-width: 95vw;
    padding: 2rem 1rem;
    background-color: blue;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.header_container{
    margin-bottom: 2.8rem;
}
.header_tittle{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}
.header_desc{
    max-width:268px;
    text-align: center;
    color: rgb(rgb(101, 65, 65), green, blue);
margin: 0 auto;
}
.main_container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4,1fr);

}
.card_container{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px;
}
.card_image_container{
    position: relative;
    overflow: hidden;
    height: 14rem;
}
.card_image{
    object-fit: cover;
    object-position: center;
    height: 100%;
}.card_title_container{
  display: flex;
  flex-direction: column;
  padding: 1.5rem;

}
.card_container:hover .card_image{
    transform:scale(1.2);
    transition-duration: 200ms;
}
.card_title{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(29, 11, 11);
    line-height: 1.5rem;
    margin-bottom: 0.4rem;
}
.card_title_anchor:hover .card_title{
    color: rgb(255, 0, 0);
}
.card_desc{
    color: rgb(72, 50, 50);
   font-size: 1rem;
}
.card_footer_container{
    display: flex;
    justify-content: space-between;

}
.author_container{
    display: flex;
    flex-direction: row;
}
.author_avatar_container{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(55, 17, 17);
    border-radius: 50%;
    background-color: rgb(172, 93, 93);
}
.author_avatar_container{
    display: flex;
    flex-direction: column;
}