*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    background-color: red;
    height: 100%;
    width: 100%;
    display: grid;
    padding: 4rem;
    gap:1rem;
    /* row-gap: 5px; */
   /* column-gap: 2px; */
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns:repeat(3,1fr);
      
}
.header, .footer{
    grid-column-start: 1;
    grid-column-end: 4;
}
.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
}
.item{
    border: 5px solid black;
    background-color: skyblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.content{
    grid-column-start: 2;
    grid-column-end: 4;
}

