*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vh;
}
.container{
    background-color: blueviolet;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,200px);
    gap: 0.4rem;
    border: 2px solid white;
}
.item{
    background-color: blue;
    border: 5px solid black;
    align-self: stretch;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
}