@import url('https://fonts.google.com/specimen/Inter');
:root{
    --primary-color: #6366f1;
    --accent-color:#3f83f8;
    --text-color:#333333;
    --link-color:#2563eb;
    --background-color:#ffffff;
    --light-gray:#f0f0f0;
    -gray:#808080;
    --dark-gray:#555;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter',sans-serif;
    text-decoration: none;
}
body{
    height: 100vh;
    text-align: center;
    padding: 4rem;
    background-color: var(--background-color);
}
.header-content{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: .625;
}
.logo-icon{
    height: 4.875rem;
    width: 3.938rem;
    
}
.logo-text{
    font-size: 2rem;
    font-weight: bold;
}
.nav{
    display: none;
    gap: 1.5rem;
}
@media screen and (min-width:768px){
    .nav{display: flex;
    }
}
.nav-link{
    color: #718096;
    font-size: 1.25rem;
    font-weight: 600%;
    transform: color 0.1s;
}
.nav-link:hover{
    color:var(--link-color);
}
.contact-button{
    height: 10px;
    border: none;
    border-radius: .375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
     padding: 7px;
    font-size: 1rem;
    font-weight: 600;

}
@media screen and (min-width:768px){
    .contact-button{
        display: block;
    }
}
.contact-button:hover{
    background-color: red;
}
.menu-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    transform: all 0.1s;
    font-size: 1rem;
    font-weight: 600;
}
@media screen and(max-width:768px){
    .menu-button{
display: block;
}
}
.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}