*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.container{
 height: 100vh;
 width: 100vw;
 overflow-x: auto;
 background-color: beige;
}
.navcontainer{
    width: 100vw;
    background-color: rgb(0, 255, 191);
    min-height: 80px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#navlist{
    width: 100%;
    padding: 15px;
    /* margin-left: 5px; */
    /* margin-right: 10px;*/
    list-style: none;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
     
}
nav{
    width: 100%;
}
#navlogo{
    font-size: 2.8rem;
    color: red;
}
a{
    text-decoration: none;
    color: rgb(196, 23, 23);
}
#navitems{
  display: flex;
    gap: 10px;
    
}
.footerbox{
    background-color: aquamarine;
width: 100%;
text-align: center;
min-height: 50%;
}
.contentbox{
    width: 70%;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-direction:column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 2px 2px 10px rgb(255, 0, 72);
}
.item{
    display: flex;
     
}
.rightbox{
    position: relative;
    transition: all 0.3s linear 0s;
    box-shadow: 1px 1px 10px black;
    box-radius: 2px;
}
.rightbox img{
    height: auto;
    border-radius: 20px;
    transition: all 2s linear 0s;
}
.rightbox:hover{
    transform: scale(1.3)
    
}
.rightbox.overlay{
    position: absolute;
    top: 5px;
    left: 5px;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    

    background-color: rgba(red, green, blue, alpha);
    opacity: 0%;
    transition: all .3s linear;
}
.rightbox .overlay span{
    color: red;
    font-size: 1.2rem;
}
.recipebox{
    font-size: 1.1rem;
}
.leftbox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.leftbox h2{
    font-size: 2rem;
}
#laddoo{
    height: 200px;
    width: 220px;
}
 